.header{
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
    height: 50px;
    text-align: left;
    font-weight: bold;
}

.header-back{
    font-size: 32px;
}

.header-pagename{
    margin-left: 33%;
    font-size: 24px;
}

.header-line{

}