.carousel{
    height: 45vh;
}
.carousel-box{
    width: 90vw;
    height: 45vh;
}
.carousel-img{
    width: 90vw;
    height: 38vh;
}
.carousel-text{
 font-size: 20px;
}
.carousel-name{
    font-size: 24px;
}
