
.mainpage-items{
    margin-top: 70px;
    border: 3px solid;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    border-color: #F6EFB4;
    height: 250px;
    text-align: left;
    overflow-y: scroll;
}

.mainpage-items-cover{
    margin-left: 10px;
}

.mainpage-items-title{
  margin-top: 10px;
    font-size: 24px;

}
.mainpage-items-list{
    font-size: 20px;
}
.mainpage-items-box{
    display: flex;
}
.mainpage-items-img{
    width: 150px;
    height: 150px;
}

.mainpage-items-boxmodal{
    position: fixed;
    width: 150px;
    height: 150px;
    background-color: gray;
}