
.mainpage-myreserve{
    margin-top: 2%;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    height: 34%;
    background-color: white;
    box-shadow: 2px 4px 5px -3px;
}

.mainpage-myreserve-todo{
    margin-top: 2vh;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    /*height: 50vh; */
    background-color: white;
    box-shadow: 2px 4px 5px -3px;
}

.mainpage-myreserve-title{
    padding-top: 1vh;
    font-size: 24px;
}

.mainpage-myreserve-img{
    margin-top: 1vh;
    width:100%;
    height: 150px;
}

.mainpage-myreserve-day{

    font-size: 20px;
}

.mainpage-myreserve-todos{
    text-align: left;
}

.mainpage-myreserve-todo{
    text-align: left;
}