.mainpage-todayrecomm{
    margin-top: 1vh;
    height: 45vh;
    overflow: hidden;
    padding-top: 1vh;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 4px 5px -3px;
}
