
.userinfo{
    width:100%;
    font-size: 24px;
}

.userinfo-img{
 width: 130px;
 height: 130px;
}

.userinfo-img-box{
    width:100%;
}

.userinfo-pencilimg{
    margin-left: 10px;
    width:20px;
    height:20px;
}

.userinfo-id{
 display: flex;
 justify-content: space-between;
 width: 90%;
 margin-left: 5%;
}
.userinfo-pw{   
    display: flex;
    justify-content:space-between;
    width: 90%;
    margin-left: 5%;
}
.userinfo-address{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
}

.userinfo-expbar{
    width: 80%;
    margin-left: 10%;
    background-color: #D9D9D9;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.userinfo-exp{
    background-color: #3CF30E;
    height: 32px;
    border-radius: 20px;
    position: absolute;
    z-index: 2;
}
.userinfo-exptext{
    position: relative;
    z-index: 3;
}

.userinfo-editinfobtn{
  width: 130px;
  height: 40px;
  border-radius: 20px;
  background-color: #2796CB;
  border: none;
  font-family: 'twayair';
}

.userinfo-logoutbtn{
  margin-left: 10px;
  width: 130px;
  height: 40px;
  border-radius: 20px;
  background-color: #FE0808;
  border: none;
  font-family: 'twayair';
}