
.uservisited{
    height: 60vh;
}

.uservisited-text{
    text-align: left;
    width: 100%;
    padding-left: 5%;
    background-color: white;
    height: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.uservisited-box{
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    height: 100px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px -3px;
    margin-top: 15px;
    background-color: white;
}

.uservisited-campsitename{
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 270px;
}

.uservisited-content-box{
    display: flex;
    margin-left: 15px;
    margin-top: 1vh;
}

.uservisited-rate{
    font-size: 14px;
    margin-top: 1vh;
}

.uservisited-comment{
    font-size: 14px;
    text-align: left;
}
.uservisited-thumb{
    margin-top: 5px;
    margin-left: 5px;
    width:90px;
    height: 90px;
    border-radius: 70%;
}
.uservisited-contents-line{
    margin-top: 1vh;
    width: 30vh;
    background-color: white;
}