.uservisited-box{
    display: flex;
    justify-content: space-between;
    height: 100px;
    border : 1px solid;
}

.uservisited-box-rating{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}