.recycle-page {
  background-color: #F5F5F5;
}

.section-card {
  width: 90%;
  margin-left: 5%;
  border-radius: 20px;
  background-color: white;
  box-shadow: 2px 4px 5px -3px;
}

.text-size-3 {
  font-size: 130%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.item-center {
  display : flex;
  align-items: center;
  justify-content: center;
}