.width-100 {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.inner-div {
  width: 100%;
}

.outer-div {
  display : flex;
  flex-direction: column;
  align-items : center;
  justify-content: center;
}

.img {
  object-fit: cover;
}