.update-btn {
  display : flex;
  flex-direction: column;
  align-items : center;
  justify-content: center;
}

.outer-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text-left {
  text-align: left;
}

.text-h3 {
  font-size: 1.17em;
  font-weight: bold;
}