
.itempage-items{
    margin-top:5vh;
}

.items-itemicon{
    width: 8vw;
    height: 8vw;
}

.items-after-text{
    margin-top: 7vh;
    margin-bottom: 3vh;
    font-size: 20px;
}

.items-before-text{
    margin-top: 7vh;
    margin-bottom: 3vh;
    font-size: 20px;
}

.items-before{
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    height: 200px;
    background-color: white;
    box-shadow: 2px 4px 5px -3px;
    display: flex;
    flex-wrap: wrap;
}

.items-after{
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    height: 200px;
    background-color: white;
    box-shadow: 2px 4px 5px -3px;
    display: flex;
    flex-wrap: wrap;
}

.items-icons{
    margin-top: 1vh;
    width: 18vw;
    height: 14vw;
}