
.campinglist-box{
    margin-top: 5vh;
    margin-left: 5%;
    width: 90%;
    height: 30vh;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 4px 5px -3px;
}

.campinglist-name{
   margin-top: 1vh;
   font-size: 24px;
}
.campinglist-address{
   margin-top: 1vh;
   font-size: 18px;
}
.campinglist-des{
  font-size: 12px;
}

.campinglist-img{
    width: 100%;
    height: 20vh;
    border-radius: 10px;
}