.open-modal {
  position: absolute;
  width: 100%;
  height: 65%;
  bottom: 20%;
  z-index: 999;
  transition: .35s linear;
  overflow: hidden;
  border-radius: 15px 15px;
  background-color: white;
}

.close-modal {
  position: absolute;
  transition: .35s linear;
  width: 100%;
  height: 0;
  bottom: 20%;
  z-index: -50;
  overflow: scroll;
}